html,
body {
  min-height: 100%;
}

#__next {
  height: 100%;
}

code {
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}

@media (max-width: 600px) { /* เปลี่ยนขนาดของหน้าจอตามที่คุณต้องการ */
  /* จัดรูปแบบของ Payment component เมื่อหน้าจอเล็กลง */
  .payment-container {
    flex-direction: column; /* เรียงลงด้านล่างเมื่อหน้าจอเล็กลง */
    align-items: center; /* จัดให้อยู่กึ่งกลาง */
  }
}

/* หน้าจอขนาดเล็ก (ตั้งแต่ 0px ถึง 767px) */
@media screen and (max-width: 767px) {
  /* ปรับแต่งสไตล์ที่คุณต้องการสำหรับหน้าจอขนาดเล็ก */
  .your-class-name {
    /* สไตล์ที่คุณต้องการ */
  }
}

/* หน้าจอขนาดกลาง (ตั้งแต่ 768px ถึง 991px) */
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* ปรับแต่งสไตล์ที่คุณต้องการสำหรับหน้าจอขนาดกลาง */
  .your-class-name {
    /* สไตล์ที่คุณต้องการ */
  }
}

/* หน้าจอขนาดใหญ่ (มากกว่า 992px) */
@media screen and (min-width: 992px) {
  /* ปรับแต่งสไตล์ที่คุณต้องการสำหรับหน้าจอขนาดใหญ่ */
  .your-class-name {
    /* สไตล์ที่คุณต้องการ */
  }
}
